{{> partials/header}}
<h1 class="ui header" style="font-size: 3em; margin-top: 1em; color: #fa2f2f;">Visualisation de facture</h1>
</div>

<div class="ui segment container">
  {{#facture}}
  <div class="facture-container">
    <div class="top-facture-container">
      <div>
        <h2 id="entreprise-title">E-Music</h2>
        <p>10 rue du Vercors</p>
        <p>14123, Ifs</p>
      </div>

      <h2 style="margin-top: 15px">Facture #{{id}}</h2>
    </div>

    <h2>Facturé à :</h2>
    <div style="margin-top: 1em">
      <p>{{nom}} {{prenom}}</p>
      <p>{{addresse}}</p>
      <p>{{codePostale}}, {{ville}}</p>
    </div>

    <div style="margin-top: 1em">
      <p><strong> Date de facturation :</strong> {{{dateFormat date "d/M/YYYY" Date}}}</p>

      <p><strong> Echéance : </strong></p>

      <p><strong> Paiement :</strong> 1 an</p>
    </div>


    <table class="ui striped table" style="margin-top: 1em">
      <thead>

      <tr>
        <th>Description</th>
        <th>Quantité</th>
        <th>Quotient familial</th>
        <th>Prix</th>
      </tr>
      </thead>
      <tbody>
      {{/facture}}
        {{#each tab}}
        <tr>
          <td>{{#each tab}}{{tab.desc}}{{/each}}</td>
          {{#facture}}
          <td>{{tab.quant}}</td>
          <td>{{quotientFamilial}}</td>
          <td>{{prix}}</td>
          {{/facture}}
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

{{> partials/footer}}