<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./css/style.css">
  <!--    <base href="https://srv2-vm-2107.sts-sio-caen.info/E-Music/">-->
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');
  </style>
  <title>E-Music</title>
</head>

<body>
  <h1>E-Music</h1>

  <h2>Numéro de facture :</h2>
  <p></p>

  <div>
    <h2>Entreprise :</h2>
    <p>E-Music</p>
    <p>10 rue du Vercors</p>
    <p>14123, Ifs</p>
  </div>

  <div>
    <h2>Client :</h2>
    <p>nom prénom</p>
    <p>addr postale</p>
    <p>cp, ville</p>
  </div>

  <div>
    <p><strong Date de facturation :></p>

    <p><strong Echéance :></p>

    <p><strong Paiement :></p>
  </div>


  <table class="ui striped table">
    <thead>
    <tr>
      <th>Description</th>
      <th>Quantité</th>
      <th>Quotient familial</th>
      <th>Prix</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Cours</td>
      <td>2</td>
      <td>250</td>
      <td>340€</td>
    </tr>
    <tr>
      <td>Instrument prêté</td>
      <td>1</td>
      <td></td>
      <td>€€</td>
    </tr>
    </tbody>
  </table>

</body>
</html>

{{> partials/footer}}