{{> partials/header}}
<h1 class="ui header" style="font-size: 3em; margin-top: 1em; color: #fa2f2f;">Tableau de bord</h1>
</div>
<!--<a class="ui button" href="/addChildren">Ajouter un enfant</a>-->
<div class="ui container" style="margin-top: 2em">
    <div class="ui grid">
        <div class="four wide column">
            <div class="ui secondary vertical pointing menu">
                <div>
                    <a @click="isActive='account'" :class="{ active : isActive === 'account' }" class="red item">
                        <div>
                            <i class="user icon"></i>
                            <span>Mon compte</span>
                        </div>
                    </a>
                    <a @click="isActive='children'" :class="{ active : isActive === 'children' }" class="red item">
                        <div>
                            <i class="child icon"></i>
                            <span>Mes enfants</span>
                        </div>
                    </a>
                    <a @click="isActive='classes'" :class="{ active : isActive === 'classes' }" class="red item">
                        <div>
                            <i class="music icon"></i>
                            <span>Cours</span>
                        </div>
                    </a>
                    <a @click="isActive = 'billing'" :class="{ active : isActive === 'billing' }" class="red item">
                        <div>
                            <i class="file icon"></i>
                            <span>Facturation</span>
                        </div>
                    </a>
                    <a @click="isActive = 'remove'" :class="{ active : isActive === 'remove' }" class="red item">
                        <div>
                            <i class="remove icon"></i>
                            <span>Supprimer votre compte</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        {{#responsable}}
        <div class="ten wide column">
            <div v-show="isActive === 'account'">
                <form method="post" action="./updateResponsable" class="ui form"
                      style="display: flex;flex-direction: column">
                    <h2>Informations du compte</h2>
                    <div class="two fields">
                        <div class="field" style="text-align: left">
                            <label for="nom"><i class="red mini star of life icon"></i>Nom
                                <input required type="text" name="nom" placeholder="Nom" value={{nom}}>
                            </label>
                        </div>
                        <div class="field" style="text-align: left">
                            <label for="prenom"><i class="red mini star of life icon"></i>Prénom
                                <input required type="text" name="prenom" placeholder="Prénom" value={{prenom}}>
                            </label>
                        </div>
                    </div>

                    <div class="field" style="text-align: left">
                        <label for="email"><i class="red mini star of life icon"></i>Email
                            <input required type="text" name="username" placeholder="Email" value={{username}}>
                        </label>
                    </div>

                    <div class="field" style="text-align: left">
                        <label for="adresse"><i class="red mini star of life icon"></i>Adresse
                            <input required type="text" name="adresse" placeholder="Adresse" value="{{adresse}}">
                        </label>
                    </div>

                    <div class="field" style="text-align: left">
                        <label for="adresse2">Adresse n°2
                            <input type="text" name="adresse2" placeholder="Adresse" value="{{adresse2}}">
                        </label>
                    </div>

                    <div class="two fields">
                        <div class="field" style="text-align: left">
                            <label for="ville"><i class="red mini star of life icon"></i>Ville
                                <input required type="text" name="ville" placeholder="Ville" value="{{ville}}">
                            </label>
                        </div>
                        <div class="field" style="text-align: left">
                            <label for="code_postal"><i class="red mini star of life icon"></i>Code Postal
                                <input required type="text" name="code_postal" placeholder="Ex : 14000"
                                       value="{{code_postal}}">
                            </label>
                        </div>
                    </div>

                    <div class="field" style="text-align: left">
                        <label for="quotient_familial"><i class="red mini star of life icon"></i>Quotient Familial
                            <input required type="number" name="quotient_familial" placeholder="Nombre"
                                   value="{{quotient_familial}}">
                        </label>
                    </div>

                    <div class="three fields">
                        <div class="field" style="text-align: left">
                            <label for="tel1"><i class="red mini star of life icon"></i>Téléphone
                                <input required type="text" name="tel1" placeholder="Numéro n°1" value="{{tel1}}">
                            </label>
                        </div>
                        <div class="field" style="text-align: left">
                            <label for="tel2">Téléphone
                                <input type="text" name="tel2" placeholder="Numéro n°2" value="{{tel2}}">
                            </label>
                        </div>
                        <div class="field" style="text-align: left">
                            <label for="tel3">Téléphone
                                <input type="text" name="tel3" placeholder="Numéro n°3" value="{{tel3}}">
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="ui red button test" style="margin-bottom: 2em">Modifier vos
                        informations
                    </button>
                </form>
            </div>
            <div v-show="isActive === 'children'">
                <h2>Enfant</h2>
                <button v-show="activeChildren === 'disable'" @click="activeChildren = 'childrenForm'" class="ui red button ">Ajouter un
                    enfant
                </button>
                <div v-show="activeChildren === 'disable'" class="ui equal width grid">
                    <div class="row">
                        {{#enfants}}
                        <div class="column">
                            <div class="ui segment">
                                {{nom}} {{prenom}}
                                <a href="./manageChildren/{{id}}" class="ui mini blue button">Gérer votre enfant</a>
                            </div>
                        </div>
                        {{/enfants}}
                    </div>
                </div>

                <div v-show="activeChildren === 'childrenForm'">
                    <button @click="activeChildren = 'disable'" class="ui black button" type="submit">Retour</button>
                    <form method="POST" action="./saveChildren" class="ui form"
                          style="display: flex;flex-direction: column">
                        <div class="two fields">
                            <div class="field" style="text-align: left">
                                <label for="nom"><i class="red mini star of life icon"></i>Nom
                                    <input required type="text" name="nom" id="nom" placeholder="Nom">
                                </label>
                            </div>
                            <div class="field" style="text-align: left">
                                <label for="prenom"><i class="red mini star of life icon"></i>Prénom
                                    <input required type="text" name="prenom" id="prenom" placeholder="Prénom">
                                </label>
                            </div>
                        </div>

                        <div class="field" style="text-align: left">
                            <label for="date_naissance"><i class="red mini star of life icon"></i>Date de naissance
                                <input required type=date name="date_naissance" id="date_naissance"
                                       placeholder="Date de naissance">
                            </label>
                        </div>

                        <div class="field" style="text-align: left">
                            <label for="password"><i class="red mini star of life icon"></i>Mot de passe
                                <input required type="password" name="password" id="password"
                                       placeholder="Mot de passe">
                            </label>
                        </div>

                        <div class="field" style="text-align: left">
                            <input required type="hidden" name="email_parent" id="email_parent" value="{{username}}">
                        </div>

                        {{#_csrf}}
                        <input type="hidden" name="{{parameterName}}" value="{{token}}">
                        {{/_csrf}}

                        <button class="ui red button" type="submit">Confirmer</button>
                    </form>
                </div>
            </div>
            <div v-show="isActive === 'classes'">
                <h2>Enfant</h2>
            </div>
            <div v-show="isActive === 'billing'">
                {{#factures}}
                <div class="cours-box">

                    <div class="in-box">
                        <h3>Facture #{{id}}</h3>

                        <a href="/viewFacture/{{id}}"  class="ui mini red button">Afficher la facture</a>
                        <div class="ui facture modal">
                            <i class="close icon"></i>
                            <div class="actions">
                                <div class="ui black deny button">
                                    Nope
                                </div>
                                <div class="ui positive right labeled icon button">
                                    Yep, that's me
                                    <i class="checkmark icon"></i>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                {{/factures}}
            </div>
            <div v-show="isActive === 'remove'">
                <div class="ui warning message">
                    <i class="close icon"></i>
                    <div class="header">
                        Vous êtes sur de vouloir supprimer votre compte ?
                    </div>
                    <a class="ui green button" href="./removeAccount"> Oui</a>
                    <button class="ui red button" @click="isActive='account'">Non</button>
                </div>
            </div>
        </div>
        {{/responsable}}
    </div>
</div>

{{> partials/footer}}
{{{vue}}}

<script>
$(function(){
    $('.ui.modal')
        .facture('show');
   });
</script>

