{{> partials/header}}
<h1 class="ui header" style="font-size: 3em; margin-top: 1em; color: #fa2f2f;">Panel d'Administration</h1>
</div>
<!--<a class="ui button" href="/addChildren">Ajouter un enfant</a>-->
<div class="ui container" style="margin-top: 2em">
  <div class="ui grid">
    <div class="four wide column">
      <div class="ui secondary vertical pointing menu">
        <div>
          <a @click="isActiveAdmin='cours'" :class="{ active : isActiveAdmin === 'cours' }" class="red item">
            <div>
              <i class="calendar alternate icon"></i>
              <span>Planification des cours</span>
            </div>
          </a>
          <a @click="isActiveAdmin='instrument'" :class="{ active : isActiveAdmin === 'instrument' }" class="red item">
            <div>
              <i class="drum icon"></i>
              <span>Instrument disponible</span>
            </div>
          </a>
          <a @click="isActiveAdmin='user'" :class="{ active : isActiveAdmin === 'user' }" class="red item">
            <div>
              <i class="user icon"></i>
              <span>Gestion des utilisateurs</span>
            </div>
          </a>
          <a @click="isActiveAdmin='facture'" :class="{ active : isActiveAdmin === 'facture' }" class="red item">
            <div>
              <i class="file alternate icon"></i>
              <span>Gestion des factures</span>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="ten wide column">
      <div v-show="isActiveAdmin === 'cours'">
        <button @click="active = !active" class="ui red button">Ajouter un cours</button>
        <div v-show="active" class="ui equal width grid">
          <form method="POST" class="ui form" action="./admin/addCours" style="margin-top: 2em">
            <div class="field" style="text-align: left">
              <label for="libelle"><i class="red mini star of life icon"></i>Libelle
                <input required type="text" name="libelle" id="libelle" placeholder="Libelle du cours">
              </label>
            </div>

            <div class="three fields">
              <div class="field" style="text-align: left">
                <label for="ageMin"><i class="red mini star of life icon"></i>Âge min
                  <input required type="number" name="ageMin" id="ageMin" placeholder="Âge minimum">
                </label>
              </div>

              <div class="field" style="text-align: left">
                <label for="ageMax"><i class="red mini star of life icon"></i>Âge max
                  <input required type="number" name="ageMax" id="ageMax" placeholder="Âge maximum">
                </label>
              </div>

              <div class="field" style="text-align: left">
                <label for="nbPlaceMax"><i class="red mini star of life icon"></i>Places
                  <input required type="number" name="nbPlaceMax" id="nbPlaceMax" placeholder="Nombre de place maximum">
                </label>
              </div>
            </div>

            <div class="field" style="text-align: left">
              <label for="date"><i class="red mini star of life icon"></i>Date
                <input required type="text" name="date" id="date" placeholder="Date des cours">
              </label>
            </div>

            <label for="instrument"><i class="red mini star of life icon"></i>Instrument
              <div class="ui fluid search selection dropdown">
                   <input required type="hidden" name="instrument" id="instrument">
                <i class="dropdown icon"></i>
                <div class="default text">Choix de l'instrument</div>
                <div class="menu">
                  {{#instruments}}
                    <div class="item" data-value="{{intitule}}">{{intitule}}</div>
                  {{/instruments}}
                </div>
              </div>
            </label>

            <button type="submit" class="ui red button">Valider</button>
          </form>
        </div>
        <h2>Gestion des cours</h2>
      </div>

      <div v-show="isActiveAdmin === 'instrument'">
        <button @click="active = !active" class="ui red button">Ajouter un instrument</button>
        <div v-show="active" class="ui equal width grid">
          <form method="POST" class="ui form" action="./admin/addInstrument" style="margin-top: 2em">
            <div class="field" style="text-align: left">
              <label for="intitule"><i class="red mini star of life icon"></i>Nom
                <input required type="text" name="intitule" id="intitule" placeholder="Nom de l'instrument">
              </label>
            </div>

            <div class="field" style="text-align: left">
              <label for="description"><i class="red mini star of life icon"></i>Description
                <textarea required name="description" id="description" placeholder="Courte description de instrument"></textarea>
              </label>
            </div>
            <button type="submit" class="ui red button">Valider</button>
          </form>
        </div>
        <h2>Instrument(s) disponible(s)</h2>
        {{#instruments}}
        <div class="ui card">
          <div class="content">
            <div class="header">{{intitule}}</div>
            <div class="description">
              {{description}}
            </div>
          </div>
          <div class="extra content">
            <div class="ui two buttons">
              <a href="./admin/editInstrument/{{id}}" class="ui basic green button">Modifier</a>
              <a href="./admin/deleteInstrument/{{id}}" class="ui basic red button">Supprimer</a>
            </div>
          </div>
        {{/instruments}}
      </div>

    </div>
  </div>
</div>

{{> partials/footer}}
<script>
  $(function(){
    $('.ui.dropdown').dropdown();
  });
</script>

{{{vue}}}