.main-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

main {
    flex: 1;
}

.disableSignup {
    animation: 1s ease-in-out slideInLeftToRight;
    display: none;
}

.enableSignupRecap {
    animation: 1s ease-in-out slideInRight;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInLeftToRight {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes appearContainer {
    0% {
        opacity: 0;
        transform: translateY(500px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }

}

.cours-box-container{
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    width: auto;
    animation: 1s ease-in appearContainer;
}

.cours-box {
    width: 200px;
    height: 220px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    overflow: hidden;
    position: relative;
    transition: 1s;
    margin: 10px;
}

.cours-box:hover {
    transition: 1s;
    transform: translateY(-10px);
}

.cours-box > .in-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.cours-box > .in-box > .title-box {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}

.cours-box > .in-box > .bottom-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.cours-box > .date-box {
    position: absolute;
    bottom: 0;
    z-index: 9999;
}

/*FACTURES*/