{{> partials/header}}
  <div class="ui inverted vertical masthead center aligned segment">
    <div class="ui container">
      <div class="ui segment">
        <div class="ui secondary pointing menu">
          <a class="active red item" href="/accueil">
            Home
          </a>
          <a class="red item" href="accueil">
            Messages
          </a>
          <div class="right menu">
            <a class="red item" href="/signup">
              Sign Up
            </a>
            <a class="red item" href="index.html">
              Logout
            </a>
          </div>
        </div>
      </div>
    </div>
    <h1 class="ui header" style="font-size: 5em; margin-top: 1em; color: #fa2f2f; font-family: 'Fasthand', cursive;">E-Music</h1>
    <h2 style="margin-bottom: 2em">Une école pour apprendre ensemble</h2>
  </div>

  <div class="ui container" style="margin-top: 3em">
    <h2 style="text-align: center" id="ecole-ancre">Notre École et ses atouts</h2>
    <div class="ui two column internally celled grid">
      <div class="column">
        <p style="font-size: 1.5em">Nous vous accueillons dans nos cours pour vous ou votre enfant afin de développer vos connaissances musicales. Nous proposons des cours individuelles et collectif ainsi que de l'éveil musicale. Chacun peux trouver sa place au sein de notre école et essayer de nouveaux instrument pour trouver celui qui lui conviendra le mieux.</p>
      </div>

      <div class=" column">
        <img class="ui medium circular image" src="/img/large.jpg" style="margin-left: 25%">
      </div>
    </div>
  </div>

  <div class="ui container" style="margin-top: 3em">
    <h2 style="text-align: center" id="instrument-ancre">Nos Instruments qui vous reflète</h2>
    <div class="ui two column internally celled grid">
      <div class=" column">
        <img class="ui medium circular image" src="/img/collection_instrument.jpg" style="margin-left: 25%">
      </div>

      <div class="column">
        <p style="font-size: 1.5em">Un large choix d'instrument est disponible dans notre école. Nous pensons que trouvez son instrument passe par des echecs et la recherche de la meilleur affinité c'est pour ceux-là que nous proposons : Claviers, Instruments amplifiés, Bois, Cuivres, Cordes, Percussions. Avec ce choix il y a de grande chance que vous trouviez votre bonheur et que vous appreciez jouer.</p>
      </div>
    </div>
  </div>

  <div class="ui container" style="margin-top: 8em; margin-bottom: 8em; text-align: center">
    <h2>Interessez de nous rejoindre ?</h2>
    <a class="ui red button" href="/signup">Inscrivez-vous</a>
  </div>
{{> partials/footer}}