{{> partials/header}}

<div style="background-color: rgb(29,29,29); padding-bottom: 5em">
    <div class="ui vertical masthead center aligned segment">
        <div class="ui container">
            <div class="ui segment">
                <div class="ui secondary pointing menu">
                    <a class="red item" href="/accueil">
                        Home
                    </a>
                    <a class="red item" href="index.html">
                        Messages
                    </a>
                    <div class="right menu">
                        <a class="active red item" href="/signup">
                            Sign Up
                        </a>
                        <a class="red item" href="index.html">
                            Logout
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui container" style="display: flex;justify-content: center; border: 1px solid white; border-radius: 25px;background: white; margin-top: 3em;width: 450px;padding: 3em">
            <form method="POST" action="/signup/register" class="ui form" style="width: 350px; display: flex;flex-direction: column">
                <h2 style="color: black; margin-bottom: 1em">Inscription</h2>
                <div class="two fields">
                    <div class="field" style="text-align: left">
                        <label for="nom"><i class="red mini star of life icon"></i>Nom
                            <input required type="text" name="nom" id="nom" placeholder="Nom">
                        </label>
                    </div>
                    <div class="field" style="text-align: left">
                        <label for="prenom"><i class="red mini star of life icon"></i>Prénom
                            <input required type="text" name="prenom" id="prenom" placeholder="Prénom">
                        </label>
                    </div>
                </div>

                <div class="field" style="text-align: left">
                    <label for="email"><i class="red mini star of life icon"></i>Email
                        <input required type="text" name="email" id="email" placeholder="Email">
                    </label>
                </div>

                <div class="field" style="text-align: left">
                    <label for="password"><i class="red mini star of life icon"></i>Mot de passe
                        <input required type="password" name="password" id="password" placeholder="Mot de passe">
                    </label>
                </div>

                <div class="field" style="text-align: left">
                    <label for="adresse"><i class="red mini star of life icon"></i>Adresse
                        <input required type="text" name="adresse" id="adresse" placeholder="Adresse">
                    </label>
                </div>

                <div class="field" style="text-align: left">
                    <label for="adresse2">Adresse n°2
                        <input type="text" name="adresse2" id="adresse2" placeholder="Adresse">
                    </label>
                </div>

                <div class="two fields">
                    <div class="field" style="text-align: left">
                        <label for="ville"><i class="red mini star of life icon"></i>Ville
                            <input required type="text" name="ville" id="ville" placeholder="Ville">
                        </label>
                    </div>
                    <div class="field" style="text-align: left">
                        <label for="code_postal"><i class="red mini star of life icon"></i>Code Postal
                            <input required type="text" name="code_postal" id="code_postal" placeholder="Ex : 14000">
                        </label>
                    </div>
                </div>

                <div class="field" style="text-align: left">
                    <label for="quotient_familial"><i class="red mini star of life icon"></i>Quotient Familial
                        <input required type="number" name="quotient_familial" id="quotient_familial" placeholder="Nombre">
                    </label>
                </div>

                <div class="three fields">
                    <div class="field" style="text-align: left">
                        <label for="tel1"><i class="red mini star of life icon"></i>Téléphone
                            <input required type="text" name="tel1" id="tel1" placeholder="Numéro n°1">
                        </label>
                    </div>
                    <div class="field" style="text-align: left">
                        <label for="tel2">Téléphone
                            <input type="text" name="tel2" id="tel2" placeholder="Numéro n°2">
                        </label>
                    </div>
                    <div class="field" style="text-align: left">
                        <label for="tel3">Téléphone
                            <input type="text" name="tel3" id="tel3" placeholder="Numéro n°3">
                        </label>
                    </div>
                </div>

                <button class="ui red button" type="submit">S'inscrire</button>
            </form>
        </div>
    </div>
</div>
{{> partials/footer}}