{{> partials/header}}

{{#resp}}
<div style="background-color: rgb(29,29,29); padding-bottom: 5em">
  <div class="ui vertical masthead center aligned segment">
    <div class="ui container">
      <div class="ui segment">
        <div class="ui secondary pointing menu">
          <a class="red item" href="/accueil">
            Home
          </a>
          <a class="red item" href="index.html">
            Messages
          </a>
          <div class="right menu">
            <a class="active red item" href="/signup">
              Sign Up
            </a>
            <a class="red item" href="index.html">
              Logout
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="ui container" style="display: flex;justify-content: center; border: 1px solid white; border-radius: 25px;background: white; margin-top: 3em;width: 450px;padding: 3em">
      <form method="POST" action="/codeVerif" class="ui form" style="width: 350px; display: flex;flex-direction: column">
        <h2 style="color: black; margin-bottom: 1em">Validation de votre adresse mail</h2>

        <div class="field" style="text-align: left">
          <label for="email"><i class="red mini star of life icon"></i>Email
            <input required type="text" name="email" id="email" placeholder="Email" value={{email}}>
          </label>
        </div>

        <div class="field" style="text-align: left">
          <label for="code_verification"><i class="red mini star of life icon"></i>Code de vérification
            <input required type="text" name="code_verification" id="code_verification" placeholder="Votre code de vérification">
          </label>
        </div>

        <button class="ui red button" type="submit">Confirmer</button>
      </form>
    </div>
  </div>
</div>
{{/resp}}
{{> partials/footer}}