{{> partials/header}}
<h1 class="ui header" style="font-size: 3em; margin-top: 1em; color: #fa2f2f;">Tableau de bord</h1>
</div>
<div class="ui container" style="margin-top: 2em">
    <div class="ui grid">
        <div class="four wide column">
            <div class="ui secondary vertical pointing menu">
                <div>
                    <a @click="isActiveChildren='planning'" :class="{ active : isActive === 'planning' }" class="red item">
                        <div>
                            <i class="clock icon"></i>
                            <span>Mon planning</span>
                        </div>
                    </a>
                    <a @click="isActiveChildren='cours'"  :class="{ active : isActive === 'cours' }" class="red item">

                        <div>
                            <i class="music icon"></i>
                            <span>Cours</span>
                        </div>
                    </a>
                    <a @click="isActiveChildren = 'remove'" :class="{ active : isActive === 'remove' }" class="red item">
                        <div>
                            <i class="remove icon"></i>
                            <span>Supprimer votre compte</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        {{#enfant}}
        <div class="ten wide column">
            <div v-show="isActiveChildren === 'planning'">
                <h2>Planning</h2>
                <div class="ui calendar" id="eventdates_calendar">
                </div>
            </div>
            <div v-show="isActiveChildren === 'cours'">
                <h2>Vos cours (<%haveCours%>)</h2>
                <div v-if="haveCours === 0">
                    <h4>Vous n'avez pas encore de cours</h4>
                    <a class="red ui button" href="./classes">Voir les cours disponibles</a>
                </div>
                <div v-else>
                    <div class="cours-box-container">
                        {{#cours}}
                        <div class="cours-box">
                            <div class="in-box">
                                <div class="title-box">
                                    <h3>{{libelle}}</h3>
                                </div>

                                <div class="age-box">
                                    <p><strong>Age requis :</strong> {{ageMin}} ans</p>
                                    <p><strong>Age maximum :</strong> {{ageMax}} ans</p>
                                    <p><strong>Date du cours :</strong> {{{dateFormat date "E d MMMM YYYY H'h'mm" Date}}}</p>
                                </div>

                                <div class="bottom-box">
                                    <p class="date-box"><i class="user icon"></i>{{nbPlaceMax}}</p>
                                    <p class="instru-box"><i class="guitar icon"></i>{{instrument.intitule}}</p>
                                </div>
                                <a href="/parent/removeCours/{{id}}" class="ui mini red button">Se désinscrire</a>
                            </div>
                        </div>
                        {{/cours}}
                    </div>
                </div>
            </div>
            <div v-show="isActiveChildren === 'remove'">
                <div class="ui warning message">
                    <i class="close icon"></i>
                    <div class="header">
                        Vous êtes sur de vouloir supprimer votre compte ?
                    </div>
                    <a class="ui green button" href="./parent/removeAccount/{{id}}"> Oui</a>
                    <button class="ui red button" @click="isActive='account'">Non</button>
                </div>
            </div>
        </div>
        {{/enfant}}
    </div>
</div>

{{> partials/footer}}
<script>
    $(function(){
        $('#eventdates_calendar').calendar({
            type : 'date',
            text: {
                days: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
                dayNamesShort: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
                dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
                months: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Decembre'],
                monthsShort: ['Jan', 'Fev', 'Mar', 'Avr', 'Mai', 'Juin', 'Juil', 'Aou', 'Sep', 'Oct', 'Nov', 'Dec'],
                today: 'Aujourd\'hui',
                now: 'Maintenant',
                am: 'AM',
                pm: 'PM',
                weekNo: 'Semaine'
            },

            eventDates: [
                {{#cours}}
        {
            date: new Date("{{date}}"),
                message: '{{libelle}} {{{dateFormat date "E H\'h\'mm" Date}}}',
            class: 'inverted green'
        },
        {{/cours}}
        ]
        })});
</script>

{{{vue}}}